{% extends "app/layout.html" %}
{% block title %}Контакты{% endblock %}
{% block content %}

<div class="address-container">
    <div class="address-block">
        <address>
            Фирма СБОР КОМПЬЮТЕР<br />
            Псков, Ротная 37<br />
            <abbr title="Phone">P:</abbr>
            +7 921 219 09 15
        </address>
    </div>

    <div class="email-block">
        <address>
            <strong>Техническая поддержка:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Отдел маркетинга:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
</div>

{% endblock %}
